header 	{
   	background-color:#ccf2ff;
   	text-align: center;}


nav	{
  clear:left;
  float:left;
  width:25%;
  height:100%;
  background-color: #ffffff;}

nav ul	{
	list-style-type:none;}



footer	{
	clear:left;
	background-color: #ccf2ff;
	text-align: center;}

div.disclaimer {
    clear:left;
    text-align:left;
    font-size: 12px;}

body	{
	font-family:Arial, Verdana, sans-serif;}

div.definition {
  float:left;
  width:75%;}

h1	{
  color: #003366;
	font-size: 24px;
  }

h2	{
  font-size: 20px;
	color: #003377;
  float:left;
  width:75%;
  }

h3  {
  font-size: 18px;
  color: #003388;
  float:left;
  width:75%;}

p	{
  float:left;
  width:75%;
  color: #000000;}

th	{
	background-color: #999999;
	color: #000000;
	font-family:"Times New Roman", Times, serif;}

td	{
	background-color: #cccccc;
	color: #000000;
	font-family:"Times New Roman", Times, serif;}

strong	{
	font-family:"Times New Roman", Times, serif;}
