header 	{
   	background-color:#92a8d1;
   	text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5px;
    padding:20px 20px 20px 20px;
    }

nav	{
  width:100%;
  background-color: #ffffff;
  }

a {
  color:white;
  text-decoration:none;
}

a:hover {
  color:white;
  font-style:oblique;
}

.navlink{
      padding:0px 30px;
      font-size: 22px;
      color:white;
      background-color:#a2b9bc;
      text-align:center;
    }

.navlink:hover {
   color:white;
   background-color:#d6cbd3;
}

#selected {
      color:white;
      background-color:#898989;
    }

aside{
    margin-top:5px;
    padding-top:10px;
    float:left;
    background-color:#97acd6;
    width: 23%;
    height:800px;
    margin-right:5px;
    overflow:scroll;
}
aside a{
    background-color:#97acd6;
    display:block;
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
}

aside ul li{
  list-style-type:none;
  padding-left:0px;
}

._1st{
  font-size:16px;
  text-align:left;
}

._2nd{
  font-size:14px;
  text-align:left;
  padding-left:2em;
}

.collapsible {
  background-color:#cfe0e8;
  width:60%;
  border:none;
  outline:none;
  text-align:left;
  cursor:pointer;
  font-size:14px;
  padding:2px 2px;
}

.active, .collapsible:hover {
  background-color:#bfd0d8;
}
.collapsible:after{
  content:"\002B";
  color:black;
  float:right;
  vertical-align:text-top;
}

.active:after{
  content:"\2212";
  vertical-align:text-top;
}
.content{
  padding:0 18px;
  display:none;
  overflow:hidden;
  background-color:#cfe0e8;
}

footer	{
	clear:both;
	background-color: #92a8d1;
  color:white;
	text-align: center;
  padding: 20px 20px 20px 20px;}

body	{
	font-family: Calibri, Verdana, sans-serif;}

div#disclaimer {
  clear:both;
  text-align:left;
  font-size: 14px;}

h1	{
  color: white;
	font-size: 32px;
  }

div#main_box {
    width:75%;
    height:800px;
    overflow:scroll;
    background-color:#cfe0e8;
    color:#000000;
    padding-left:1em;
    margin-top:5px;
}
div#main_box ul li{
  margin-top:3px;
}
div#main_box ol{
  margin-top:1em;
}
div#sec_1{
  float:left;
  width:33%;
  padding-right:2px;
}
div#sec_2{
  float:left;
  width:33%;
  padding-right:2px;
}
div#sec_3{
  float:left;
  width:33%;
  padding-right:2px;
}
a.intext {
  color:blue;
}

ul#role{
  list-style:none;
}
