header 	{
   	background-color:#92a8d1;
   	text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding:20px 20px 20px 20px;
    }

nav	{
  width:100%;
  background-color: #ffffff;
  }

a {
  color:white;
  text-decoration:none;
}

a:hover {
  color:white;
  font-style:oblique;
}

nav button{
      padding:15px 32px;
      font-size: 22px;
      color:white;
      background-color:#a2b9bc;
      text-align:center;
    }

nav button:hover {
   color:white;
   background-color:#d6cbd3;
}

nav button#selected {
      color:white;
      background-color:#898989;
    }

aside{
    margin-top:1px;
    padding-top:20px;
    float:left;
    background-color:#97acd6;
    width: 23%;
    height:800px;
    margin-right:3px;
    overflow:scroll;
}
aside button{
    background-color:#97acd6;
    display:block;
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
}

aside ul li{
  list-style-type:none;
  padding-left:0px;
}

._1st{
  font-size:16px;
  text-align:left;
}

._2nd{
  font-size:14px;
  text-align:left;
  padding-left:2em;
}

._3rd{
  font-size:12px;
  text-align:left;
  padding-left:3em;
}
footer	{
	clear:both;
	background-color: #92a8d1;
  color:white;
	text-align: center;
  padding: 20px 20px 20px 20px;}

body	{
	font-family: Calibri, Verdana, sans-serif;}

div#disclaimer {
  clear:both;
  text-align:left;
  font-size: 14px;}

h1	{
  color: white;
	font-size: 32px;
  }

div#main_box {
    width:73%;
    padding-top:20px;
    height:800px;
    overflow:scroll;
    background-color:#cfe0e8;
    padding-left:1em;
    margin-top:1px;
}
div#main_box ul li{
  margin-top:3px;
}
div#main_box ol{
  margin-top:1em;
}

a.intext {
  color:blue;
}

ul#role{
  list-style:none;
}
