header 	{
   	background-color:#92a8d1;
   	text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding:20px 20px 20px 20px;
    }

nav	{
  width:100%;
  background-color: #ffffff;
  }

a {
  color:white;
  text-decoration:none;
}

a:hover {
  color:white;
  font-style:oblique;
}

a:active {
  color:white;
  text-transform:capitalize;
}
nav button{

      padding:15px 32px;
      font-size: 22px;
      color:white;
      background-color:#a2b9bc;
      text-align:center;

    }

nav button:hover {
   color:white;
   background-color:#d6cbd3;
}

nav button#selected {
      color:white;
      background-color:#898989;
    }

aside{
    margin-top:1px;
    padding-top:20px;
    float:left;
    background-color:#97acd6;
    width: 23%;
    height:800px;
    margin-right:3px;
    overflow:scroll;
}

footer	{
	clear:both;
	background-color: #92a8d1;
  color:white;
	text-align: center;
  padding: 20px 20px 20px 20px;}

body	{
	font-family:Arial, Verdana, sans-serif;}

div#disclaimer {
  clear:both;
  text-align:left;
  font-size: 12px;}

h1	{
  color: white;
	font-size: 32px;
  }

strong	{
	font-family:"Times New Roman", Times, serif;}

aside ul li{
  margin-left:0;
  margin-top:3px;
  padding:0;
  font-size:22px;
  list-style-type:none;
}

div#main_box {
    width:70%;
    height:800px;
    overflow:scroll;
}
div#main_box ul ol li{
  margin-top:3px;
}

a.intext {
  color:blue;
}
