body {
   font-family:Arial, Verdana, sans-serif;}
h1, h2 {
   color: #333eff;}
p  {
   color: #000000;}
th {
   background-color: #999999;
   color: #000000}
td {
   background-color: #cccccc;
   color: #000000}
